body {
  background-color: white;
}
h1 {
  color: black;
  text-align: center;
}
h2 {
  color: black;
  font-size: 150%;
}
p {
  color: black;
  padding: 30px;
  text-align: justify;
  line-height: 1.2;
}
dl{
  padding: 30px;
}
